In [ ]:

#

from mlxtend.classifier import StackingClassifier
from drive.fuzzy_score_script import Fuzzy_match_score
from drive.QQP import SiameseNetworkModel
from avg_embed import Avg_embedding_score
from sen_embed import Sen_embedding_score

In [21]:
from sklearn.svm import SVC
import pandas as pd
import numpy as np

In [ ]:
with open('ques_embedding_database.pkl','r') as out_file:
  ques_embeddings=pickle.load(out_file)

In [ ]:
norm_model,un_norm_model=SiameseNetworkModel.load_weights('norm.h5'),SiameseNetworkModel.load_weights('un_norm.h5')

In [ ]:
#data prepn

# 5 scores

fuzzy=[Fuzzy_match_score(q1,q2) for q1,q2 in zip(df['question1'],df['question2'])]
avg_emb=[Avg_embedding_score(q1,q2) for q1,q2 in zip(df['question1'],df['question2'])]
sen_emb=[Sen_embedding_score(q1,q2) for q1,q2 in zip(df['question1'],df['question2'])]
un_norm_score=un_norm_model.predict(df['question1'].values,df['question1'].values)
norm_score=norm_model.predict(df['question1'].values,df['question1'].values)

In [23]:
df=pd.read_csv('/content/drive/MyDrive/Data/quora duplicate identification/train.csv',header=0)
df.head()

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]

In [ ]:
df['fuzzy'],df['avg_emb'],df['sen_emb'],df['un_norm_score'],df['norm_score']=fuzzy,avg_emb,sen_emb,un_norm_score,norm_score

In [ ]:
# convert questions into tf-idf vectorizer or count-vectorizer

In [26]:
X=df.iloc[:,[3,4]].values
y=df.iloc[:,[6,7,8,9,10]].values

In [38]:
svr=SVC(degree=2,kernel='poly',C=0.2)

In [39]:
from sklearn.multioutput import MultiOutputRegressor
mor = MultiOutputRegressor(svr)

In [28]:
X.shape

(404290, 2)

In [ ]:
mor.fit(x,y)

In [ ]:
mor.predict([q1,q2]) #predicts five 5 score